.conversation-level {
	display: flex;
	flex-direction: column;
	margin: 0 1vmax;
}

.conversation-layer {
	display: flex;
}

.conversation-cell {
	font-size: 1vmax;
	padding: 1vmax;
	white-space: nowrap;
	margin: 1vmax 0;
	transition: border ease .25s;
}

.conversation-cell.exist {
	opacity: 0.5;
}

.conversation-cell.real:hover {
	cursor: pointer;
}

.preview {
	padding: 1vmax;
	background-color: #120d35;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	display: flex;
	max-height: 20vh;
	overflow: scroll;
}

.preview-offset {
	height: 50vh;
}

.preview-text {
	padding: 1vmax;
	overflow: scroll;
}

.preview-key {
	opacity: .5;
}

.preview-key:hover {
	cursor: pointer;
}

.preview-next {
	color: #55aaff;
}

.preview-next:hover {
	cursor: pointer;
}

.preview-modify {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preview-button-container {
	display: flex;
}

.preview-button {
	padding: 1vmax;
	margin: 1vmax;
}

.preview-button:hover {
	filter: brightness(80%);
	cursor: pointer;
}

.preview-button.linear {
	background-color: #10a300;
}

.preview-button.branch {
	background-color: #a36200;
}

.preview-button.response {
	background-color: #005aa3;
}

.preview-button.disabled {
	filter: grayscale();
}

.preview-button.move {
	background-color: #0090a3;
	width: fit-content;
	font-size: 1.25vmax;
	padding: .25vmax;
	margin: 0;
	margin-bottom: 1vmax;
}

.preview-button.delete {
	background-color: #ff0000;
	width: fit-content;
	font-size: 1.25vmax;
	padding: .25vmax;
	margin: 0;
	margin-bottom: 1vmax;
}

.preview-button.save {
	background-color: #47a300;
}

.restaurant {
	max-height: 100%;
	display: flex;
	margin: 0;
	position: relative;
}

.restaurant img {
	border: .25vmax solid #524c7b;
	border-radius: 1vmax;
}

.restaurant .emotion-edit {
	padding: 1vmax;
	overflow: scroll;
}

.restaurant .emotion-edit input:hover {
	cursor: pointer;
}

.restaurant .emotion-edit label:hover {
	cursor: pointer;
	filter: brightness(80%);
}

.togglable-input {
	display: flex;
}

.togglable-input input {
	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;
	font-size: 1.25vmax;
}

.togglable-input input[disabled] {
	color: #fff;
	pointer-events: none;
}

.togglable-input input[disabled].preview-next {
	color: #55aaff;
}

.togglable-input input.edit {
	background-color: #333;
}

.togglable-input .button {
	font-size: 1vmax;
	padding: .25vmax;
	margin-right: .5vmax;
	background-color: #fff;
	color: #000;
}

.togglable-input .button:hover {
	cursor: pointer;
	filter: brightness(80%);
}