.conversation-level {
	display: flex;
	flex-direction: column;
	margin: 0 1vmax;
}

.conversation-layer {
	display: flex;
}

.conversation-cell {
	font-size: 1vmax;
	padding: 1vmax;
	white-space: nowrap;
	margin: 1vmax 0;
}

.conversation-cell.exist {
	opacity: 0.5;
}

.conversation-cell.real:hover {
	cursor: pointer;
}