[submodule "ceng3420-lab3-helper"]
	path = uop-editor
	url = https://github.com/North-West-Wind/ceng3420-lab3-helper
	branch = web
[submodule "midi-sort"]
	path = midi-sort
	url = https://codeberg.org/NorthWestWind/midi-sort
