<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="{description}" />
	<meta name="author" content="{author}" />
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{twitterCreator}" />
	<meta name="twitter:creator" content="{twitterCreator}" />
	<!-- OpenGraph (Facebook) -->
	<meta property="og:title" content="{title}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{url}" />
	<meta property="og:image" content="{image}" />
	<meta property="og:description" content="{description}" />
	<meta name="theme-color" content="#FCBA03">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>{title}</title>
	<link id="favicon" rel="icon" href="/favicon.png" type="image/x-icon" />
	<link href="https://wetdry.world/@NorthWestWind" rel="me" />
	<link href="https://github.com/North-West-Wind" rel="me" />
	<link href="https://codeberg.org/NorthWestWind" rel="me" />
	<link href="mailto:nw@northwestw.in" rel="me authn" />
</head>

<body>
	<div class="h-card" style="display: none;">
		<a class="p-name p-org u-url" href="https://northwestw.in">NorthWestWind</a>
		<a class="u-email" href="mailto:nw@northwestw.in">e</a>
		<img class="u-photo" src="/assets/banner.png" />
	</div>
	{content}
</body>

</html>