@font-face {
	font-family: 'OdinRounded';
	src: url('/assets/odin-rounded.regular.otf') format("opentype");
}

@font-face {
	font-family: 'YosterIsland';
	src: url('/assets/yoster.ttf');
}

html {
	overscroll-behavior: none;
}

body {
	font-family: 'OdinRounded', Helvetica, sans-serif;
	color: white;
	background-color: black;
	touch-action: manipulation;
	overscroll-behavior-y: contain;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
}

h2 {
	margin: 0;
}

.info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 100;
	background-color: rgba(15, 15, 15, 0.7);
	transition: all .25s linear;
	display: block;
	overflow: auto;
}

h2.note {
	color: #fcf803;
}

.hidden {
	display: none;
}

.visuallyhidden {
	opacity: 0;
}

.info h1 {
	font-size: 5vmax;
}

.info h2 {
	font-size: 3vmax;
	margin-bottom: 0;
}

.info p {
	margin-top: 1vh;
}

.hint {
	font-size: 1.25vmax;
	opacity: 0.6;
}

.credits {
	font-size: 1.25vmax;
}

.floors, .credits {
	margin: auto;
}

.credits th, .floors th {
	text-align: right;
}

.floors td {
	text-align: left;
}

.credits td {
	padding-left: 1.25vmax;
	text-align: left;
}

.info iframe {
	width: 48vw;
	height: 27vw;
}

.info iframe.manual {
	width: 80vw;
	height: 70vh;
}

.list {
	margin-left: 10vmax;
	margin-right: 10vmax;
	text-align: left;
}

.list li {
	font-size: 2vmax;
	color: #ffdbdb;
}

.list p {
	padding-left: 0;
	padding-right: 0;
}

.hidescroll::-webkit-scrollbar {
	display: none;
}

.hidescroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

a, .link-like * {
	text-decoration: none;
	color: #fcba03;
}

a:hover, .link-like *:hover {
	text-decoration: underline;
	cursor: pointer;
}

.avatar {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15vw;
	border: 0.75vmax solid #fcba03;
	margin-top: 1vmax;
}

.button {
	background-color: #fcba03;
	border: none;
	color: white;
	padding: 1vmax 2vmax;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2.5vmax;
	margin-top: 1vmax;
	border-radius: 1vmax;
	transition: background-color .5s ease;
}

.button.on {
	background-color: #3cdd64;
}

.button.off {
	background-color: #ff4e4e;
}

#storage-prompt {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1vmax;
	color: white;
	font-size: 2vmax;
	border-radius: 2vmax;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	border: 0;
}

.storage-button {
	border: none;
	color: white;
	padding: 0.5vmax;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vmax;
	margin-top: 1vmax;
	border-radius: 2vmax;
	opacity: 1;
	width: 8vw;
	margin-top: 0;
}

.accept {
	background-color: #48e65d;
}

.deny {
	background: #fd4f4f;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.highlight {
	color: #fcf803;
}

.answer-list {
	list-style-type: none;
	font-size: 2vmax;
}

.flex {
	display: flex;
}

.flex.vcenter {
	align-items: center;
}

.flex.vbottom {
	align-items: end;
}

.flex.hcenter {
	justify-content: center;
}

.flex.vflex {
	flex-flow: column;
}

.double-container {
	width: 76vw;
	margin: auto;
}

/* 2d specific */

.background {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  transform-origin: center bottom;
}

.background svg {
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.elevator-button:hover {
  cursor: pointer;
}

.elevator-door {
  transition: all 1s linear;
}

#closer {
  top: 1vmin;
  right: 5vmin;
  position: fixed;
	transition: all .25s linear;
  z-index: 1001;
  font-size: 10vmin;
}

#closer:hover {
  cursor: pointer;
  filter: brightness(80%);
}

#elevator {
  z-index: 2;
}

.rain {
  background-color: rgba(183, 255, 250, .5);
  transition: transform .25s linear;
  position: fixed;
  left: -.5vmin;
  top: -2vmin;
  width: 1vmin;
  height: 1vmin;
  z-index: 1;
}

.sheet-list {
	width: fit-content;
	text-align: left;
	margin: auto;
	font-size: 2vmax;
}

.sheet-back {
	text-decoration: none;
	color: #fcba03;
}

.sheet-back:hover {
	text-decoration: underline;
	cursor: pointer;
}

.gallery-entry {
	width: 50%;
}

.gallery-entry img {
	position: relative;
	width: 50%;
	border-radius: 2vmax;
}

svg * {
	transition: transform 1s ease;
}

.fire {
  transition: transform 2s linear, opacity 2s linear;
}

/* summatia */
.summatia-container {
	position: fixed;
	width: 90vw;
	left: 50%;
	bottom: 2vh;
	transform: translateX(-50%);
	gap: 2vh;
}

#summatia-say {
	position: relative;
	width: 100%;
	background-color: #120d35;
	border: .25vmax solid #524c7b;
	border-radius: 1vmax;
	font-size: 3vw;
	padding: 2vw 0;
}

#summatia-ans {
	position: relative;
	width: fit-content;
	background-color: #353535;
	border: .25vmax solid #585858;
	border-radius: 1vmax;
	font-size: 2vw;
	padding: 2vw;
	transition: opacity .25s linear;
}

#summatia-reset {
	position: relative;
	width: fit-content;
	height: fit-content;
	background-color: #3b1e1e;
	border: .25vmax solid #5c2f2f;
	border-radius: 1vmax;
	font-size: 2vw;
	padding: 2vw;
	margin-left: 2vw;
}

#summatia-auto {
	position: relative;
	width: fit-content;
	height: fit-content;
	background-color: #323b1e;
	border: .25vmax solid #525c2f;
	border-radius: 1vmax;
	font-size: 2vw;
	padding: 2vw;
	margin-left: auto;
}

#summatia-credits {
	position: fixed;
	top: 1vmin;
	left: 1vmin;
	font-size: 2vw;
	opacity: 0;
	transition: opacity 2s linear;
}

.background svg .brow {
	transform-box: fill-box;
  transform-origin: center;
}

.background svg#summatia * {
	transition: transform .5s ease, opacity .5s linear;
}

.info-img {
	max-width: 80vw;
}